body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
}

header {
  background: #4d7fff;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container, main {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}




input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  box-sizing: border-box;
}

#logoutBtn{
    width:200px;
    height: 50px;
    font-size: 14px;
    border-radius: 6px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

#logoutBtn:hover {
  background-color: #c0392b;
}

#upload-section{
  position: relative;
}

#dropzone {
  border: 2px dashed #4d7fff;
  padding: 70px;
  text-align: center;
  margin: 10px 0;
  background: #eef3ff;
}

#fileList li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 14px; /* ファイル名の文字サイズ */
}

#fileList li button {
    width:50px;
    margin-left: 10px;
    padding: 2px 6px;     /* 小さくする */
    font-size: 12px;      /* ボタン文字サイズ */
    border-radius: 4px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

#fileList li button:hover {
    background-color: #c0392b;
}

#upload-button-container{
  width: 100%;
  margin: 0 auto;
}

/*共通アップロードボタン */
.upload-btn {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    font-size: 14px;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #2980b9;
}

/* input[type=file] を隠す */
.hidden-input {
    display: none;
}


#exportBtn,#uploadBtn{
        width:100%;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 6px;
        background-color: #3498db;
        color: white;
        border: none;
        cursor: pointer;
}

#exportBtn:hover,
#uploadBtn:hover {
        background-color: #2980b9;
}

.mode-toggle {
  position: absolute;
  top:5px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}

.switch {
  position: relative;

  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #d9534f; /* 赤系（DLモード） */;
  transition: .4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:#3498db ;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.action-btn {
  background-color: #d9534f;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.del-btn{
  width: 50px;
  color: #fff;
  background-color: #d9534f;
  border-radius: 5px;
  border: none;
}
